config TBS_PCIE_MOD
	tristate "TBS PCIe mod cards"
	depends on PCI && I2C && DVB_CORE
	default m if !MEDIA_SUBDRV_AUTOSELECT

	help
	  Support for TBS PCIe mod cards

	  Say Y if you own such a device and want to use it.
